@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*NavBar*/
.navbar {
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  padding-inline: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 99;
  border-bottom: 1px solid rgba(95, 95, 95, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

.navbar.shadow {
  box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.2);
  margin-inline: 0;
  z-index: 98;
  padding-inline: 8%;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 139px;
  margin: 0;
  padding: 0;
}

.cabecalho ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.cabecalho a {
  text-decoration: none;
  padding-right: 40px;
  color: rgba(95, 95, 95, 0.81);
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.cabecalho a:hover {
  color: #353535;
  font-size: 20px;
}

.login a {
  text-decoration: none;
  color: #353535;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  width: 132px;
  height: 48px;
  padding: 12px 30px;
  background-color: #f5f2ef;
  border-radius: 10px;
  transition: 0.3s;
}

.login a:hover {
  background-color: #353535;
  color: #fff;
}

/*Primeira seção*/
.section1 {
  background: url(assets/images/desmatamento.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: inset 1000px 1000px 980px rgba(0, 0, 0, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.section1 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

.denu {
  background-color: #24613b;
  color: #fff;
  padding: 5px 20px;
  border-radius: 14px;
}

.section1 h3 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
}

.botao2 {
  margin-top: 34px;
}

.botao2 img {
  width: 30px;
  left: 60px;
  top: 8px;
  position: relative;
}

.botao2 a {
  width: 208px;
  height: 50px;
  padding: 14px 36px 14px 67px;
  border-radius: 7px;
  background-color: #24613b;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  font-weight: 800;
  transition: 0.3s;
}

.botao2 a:hover {
  background-color: #68a67d;
  color: #fff;
}

/*Segunda seção*/
.section2 {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 1000px;
}

.div1 {
  margin-inline: 8%;
  max-width: 1139px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: break-word;
}

.section2 h3 {
  padding-right: 20px;
  font-size: 36px;
  color: #353535;
  font-weight: 700;
  margin-right: 70px;
  margin-bottom: 20px;
}

.section2 p:nth-child(-n + 2) {
  font-size: 23px;
  font-weight: medium;
  color: #353535;
  margin-bottom: 50px;
}

.div1 img {
  height: 696px;
}

.div2 {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 59px;
  border-radius: 10px;
  background-color: #f18f00;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.btnden:hover {
  background-color: #ffaf3b;
}

.div3 {
  width: 1139px;
  height: 180px;
  background-color: #f18f00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.div3 img{
  width: 96px;
  fill: #fff;
  filter: invert(1) hue-rotate(180deg);
}