@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  margin-top: 30px;
  color: #fff;
  margin-inline: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  margin: 0;
  padding: 0;
}

.cabecalho {
  display: flex;
  flex-direction: row;
}

.cabecalho a {
  text-decoration: none;
  padding-right: 40px;
  color: #5f5f5f;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login a {
  text-decoration: none;
  color: #24613b;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
}


.imagem1 {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 32px;
  width: 100%;
  height: 700px;
}

.imagem1 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 70px;
  text-align: center;
  color: #353535;
  margin-bottom: 50px;
}

.denu {
  background-color: #24613b;
  color: #fff;
  padding: 0 20px 0 20px;
  border-radius: 20px;
}

.imagem1 h3 {
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  color: #5f5f5f;
}

.botao2 {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24613b;
  color: #fff;
  padding: 10px 30px 10px 30px;
  transition: 0.5s;
}

.botao2 a {
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: 600;
}

.botao2:hover {
  background-color: #33754d;
}

.fundo01 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 600px;

  top: 711px;
  background: #EBE2CD;
}

.textos {
  margin-inline: 15%;
}

.texto01 {
  width: 367px;
  height: 160px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;

  color: #353535;
}

.texto02 {
  width: 400px;
  height: 150px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;

  color: #353535;

}