@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

/*NavBar*/
.navbar {
  padding-top: 19px;
  padding-bottom: 19px;
  color: #fff;
  padding-inline: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 99;
  border-bottom: 1px solid rgba(95, 95, 95, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

.navbar.shadow {
  box-shadow: 0 24px 40px -20px rgba(0, 0, 0, 0.2);
  margin-inline: 0;
  z-index: 98;
  padding-inline: 8%;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  width: 139px;
  margin: 0;
  padding: 0;
}

.cabecalho ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}

.cabecalho a {
  text-decoration: none;
  padding-right: 40px;
  color: rgba(95, 95, 95, 0.81);
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.cabecalho a:hover {
  color: #353535;
  font-size: 20px;
}

.login a {
  text-decoration: none;
  color: #353535;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  width: 132px;
  height: 48px;
  padding: 12px 30px;
  background-color: #f5f2ef;
  border-radius: 10px;
  transition: 0.3s;
}

.login a:hover {
  background-color: #353535;
  color: #fff;
}

/*Primeira seção*/
.section1 {
  background: url(assets/images/desmatamento.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: inset 1000px 1000px 980px rgba(0, 0, 0, 0.719);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.section1 h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 52px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 25px;
}

.denu {
  background-color: #24613b;
  color: #fff;
  padding: 5px 20px;
  border-radius: 14px;
}

.section1 h3 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #ffffff;
}

.botao2 {
  margin-top: 34px;
}

.botao2 img {
  width: 30px;
  left: 60px;
  top: 8px;
  position: relative;
}

.botao2 a {
  width: 208px;
  height: 50px;
  padding: 14px 36px 14px 67px;
  border-radius: 7px;
  background-color: #24613b;
  text-decoration: none;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
  font-weight: 800;
  transition: 0.3s;
}

.botao2 a:hover {
  background-color: #68a67d;
  color: #fff;
}

/*Segunda seção*/
.section2 {
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 950px;
}

.div1 {
  margin-inline: 8%;
  max-width: 1139px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  word-wrap: break-word;
}

.section2 h3 {
  padding-right: 20px;
  font-size: 36px;
  color: #353535;
  font-weight: 700;
  margin-right: 70px;
  margin-bottom: 20px;
}

.section2 p:nth-child(-n + 2) {
  font-size: 23px;
  font-weight: medium;
  color: #353535;
  margin-bottom: 50px;
}

.div1 img {
  height: 696px;
}

.div2 {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 59px;
  border-radius: 10px;
  background-color: #f18f00;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s;
}

.btnden:hover {
  background-color: #ffaf3b;
}

.div3 {
  width: 1139px;
  height: 180px;
  background-color: #f18f00;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.div3 img {
  width: 96px;
  fill: #fff;
  filter: invert(1) hue-rotate(180deg);
}

/*Terceira seção*/
.section3 {
  width: 100%;
  height: 670px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 100px 0;
}

.section3 iframe {
  border-radius: 20px;
}

.section3 h2 {
  font-weight: 700;
  font-size: 45px;
  color: #353535;
}

.section3 span {
  background-color: #24613b;
  color: #fff;
  padding: 5px 20px;
  border-radius: 14px;
}

/*Quarta seção*/
.section4 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 120px 0 120px 0;
}

.section4 h2 {
  font-weight: 700;
  font-size: 45px;
  color: #353535;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardd {
  width: 370px;
  height: 450px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-inline: 7px;
  transition: 1s;
}

.cardd:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.66);
  -moz-box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 40px -14px rgba(0, 0, 0, 0.66);
}

.cardd div:nth-child(1) {
  height: 250px;
  background-image: url(assets/images/not1.png);
  box-shadow: inset 1000px 1000px 980px rgba(0, 0, 0, 0.342);
  background-size: cover;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 0 0 11px 11px;
  transition: 0.5s;
}

.cardd:nth-child(2) div:nth-child(1) {
  height: 250px;
  background-image: url(assets/images/not2.png);
  box-shadow: inset 1000px 1000px 980px rgba(0, 0, 0, 0.342);
  background-size: cover;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 0 0 11px 11px;
  transition: 0.5s;
}

.cardd:nth-child(3) div:nth-child(1) {
  height: 250px;
  background-image: url(assets/images/not3.png);
  box-shadow: inset 1000px 1000px 980px rgba(0, 0, 0, 0.342);
  background-size: cover;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 0 0 11px 11px;
  transition: 0.5s;
}

.cardd div:nth-child(1):hover {
  box-shadow: inset 1000px 1000px 980px rgba(0, 0, 0, 0);
}

.cardd div:nth-child(1) a {
  width: 81px;
  height: 29px;
  background-color: #e8e8e8;
  font-weight: 600;
  font-size: 11px;
  color: #5f5f5f;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardd h3 {
  padding: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #353535;
}

.cardd div:nth-child(n + 2) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
  color: #5f5f5f;
  font-weight: 400px;
  font-size: 13px;
}

.cardd div:nth-child(n + 2) p:nth-child(n + 2) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  width: 95px;
  height: 34px;
  border-radius: 20px;
}

/*Quinta seção*/
.section5 {
  display: inline-block;
  position: relative;
  margin-inline: 20%;
  margin-top: 50px;
  width: 750px;
  border-radius: 5px;
}

.section5 h3 {
  color: #24613b;
  font-size: 40px;
  margin-bottom: 50px;
  padding: 30px 0 0 0;
}

.section5 img {
  position: absolute;
  right: -950px;
}

.section5 h2 {
  font-size: 18px;
  font-weight: 500px;
  display: block;
  cursor: pointer;
  color: #24613b;
  margin-top: 20px;
  margin-bottom: 10px;
}
.section5 p {
  color: #5f5f5f;
  padding-left: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  hyphens: none;
  overflow: hidden;
  transform: translate(0, 0);
  z-index: 2;
}
.section5 ul {
  list-style: none;
  margin: 0;
}
.section5 ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-bottom: 1px solid #738c7a44;
}

.section5 ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.section5 ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.section5 ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.section5 ul li:last-of-type {
  padding-bottom: 0;
}

.section5 ul li .arrow {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.section5 ul li .fas {
  color: #68a67d;
  font-size: 15px;
  margin-right: 10px;
}
.section5 ul li .arrow:before,
.section5 ul li .arrow:after {
  content: "";
  position: absolute;
  background-color: #68a67d;
  width: 4px;
  height: 10px;
}
.section5 ul li .arrow:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.section5 ul li .arrow:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.section5 ul li input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.section5 ul li input[type="checkbox"]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.section5 ul li input[type="checkbox"]:checked ~ .arrow:before {
  transform: translate(2px, 0) rotate(45deg);
}
.section5 ul li input[type="checkbox"]:checked ~ .arrow:after {
  transform: translate(-2px, 0) rotate(-45deg);
}
.transition,
.section5 p,
.section5 ul .section5 li .arrow:before,
.section5 ul .section5 li .arrow:after {
  transition: all 0.25s ease-in-out;
}

.flipIn,
.section5 h1,
.section5 ul .section5 li {
  animation: flipdown 0.5s ease both;
}
.no-select,
.section5 h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}
@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

/*Sexta seção*/
.section6 {
  margin-top: 220px;
}

.section6 h3 {
  font-weight: 700;
  font-size: 45px;
  color: #353535;
  text-align: center;
}

.rating {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.rating img {
  padding: 0 80px 0 80px;
  margin-bottom: 80px;
}

.rating img:nth-child(1) {
  border-right: 1px solid #738c7a44;
}

.comments {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  grid-column-gap: 16px;
  align-items: center;
}

.note {
  background-color: #ecf1ec;
  display: inline-block;
  color: #003c2f;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 10px;
  width: auto;
  padding: 20px 18px 10px 18px;
}

.note p {
  color: #003c2f;
}

.note span {
  color: #738c7a;
}

.print img{
  width: 550px;
}